In [1]:
import pandas as pd
import numpy as np
import math as m

In [26]:
df = pd.read_csv('Test.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,1525602,Perfect Temporary Brooklyn Home,1200603,Andrea,Brooklyn,Crown Heights,40.66751,-73.95867,Entire home/apt,2,121,2019-05-31,1.70,1,39
1,30430185,BIG APPLE - COMFY KING ROOM,224414117,Gabriel,Manhattan,Hell's Kitchen,40.75655,-73.99690,Private room,1,18,2019-05-05,2.49,30,364
2,21354525,Cozy Brooklyn Heights Getaway w/ Manhattan Access,11743513,Henry,Brooklyn,Brooklyn Heights,40.69252,-73.99121,Private room,1,87,2019-06-16,4.29,1,108
3,35995074,Amazing*Quiet*Sunny*Bedroom*PrivateLivingRm*Ch...,4128829,Sara,Queens,Ditmars Steinway,40.77292,-73.90101,Private room,9,0,NaN,NaN,2,365
4,34392081,Hello! This is a very cozy space in Williamsburg.,259630588,Alina,Brooklyn,Williamsburg,40.71863,-73.94980,Private room,1,28,2019-06-26,14.00,2,20

In [27]:
x = df.loc[0,'latitude']
x

40.66751

In [28]:
y = df.loc[0,'longitude']
y

-73.95867

In [29]:
lat = [40.7484,40.7061,40.7580,40.7678,40.6892,40.7060]
long = [-73.9587,-73.9969,-73.9855,-73.9718,-74.0445,-74.0088]

d = np.zeros([6,df.shape[0]])
print(d.shape)
for i in range (len(lat)):
    for j in range(df.shape[0]):
        x = df.loc[j,'latitude']
        y = df.loc[j,'longitude']
        dist = m.acos((m.cos(m.radians(90-x))*m.cos(m.radians(90-lat[i]))+m.sin(m.radians(90-x))*m.sin(m.radians(90-lat[i]))*m.cos(m.radians(y-long[i]))))*3958.756
        d[i][j] = dist

(6, 14669)

In [30]:
df['Empire State Buillding'] = d[0]
df['Brooklyn'] = d[1]
df['Times Square'] = d[2]
df['Centeral Park Zoo'] = d[3]
df['Statue of Liberty'] = d[4]
df['Wall Street'] = d[5]
df.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Empire State Buillding,Brooklyn,Times Square,Centeral Park Zoo,Statue of Liberty,Wall Street
14664,27730191,"Stylish, Artsy & Comfortable Stay Near the Ocean.",32215382,Polina,Brooklyn,Sheepshead Bay,40.59446,-73.94289,Entire home/apt,2,...,2019-05-20,0.59,1,36,10.668447,8.216772,11.518011,12.072052,8.439649,8.445727
14665,29676417,New York Moments (Ladies Only),223248121,Julia,Manhattan,Kips Bay,40.74319,-73.98074,Shared room,2,...,2019-01-01,0.16,1,365,1.208561,2.698760,1.053167,1.763590,5.006482,2.959996
14666,1813829,Enjoy Harlem Renassiance Sunny Room,9501531,Andre,Manhattan,Harlem,40.82519,-73.94530,Private room,1,...,2019-07-02,1.34,3,358,5.351786,8.660060,5.096441,4.200552,10.734986,8.880386
14667,25017403,Glamping Van,10407935,Meng,Manhattan,Nolita,40.72238,-73.99466,Entire home/apt,1,...,2019-05-27,1.12,8,34,2.603173,1.130940,2.507386,3.358626,3.474235,1.352491
14668,19057073,Bright central designer's apt - steps to train!,538008,Deren,Brooklyn,Bedford-Stuyvesant,40.68932,-73.94947,Entire home/apt,5,...,2019-06-17,0.95,1,1,4.110551,2.741758,5.106625,5.547063,4.978673,3.314734

In [31]:
df.to_csv('Updated Test.csv')

In [32]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'Empire State Buillding', 'Brooklyn', 'Times Square',
       'Centeral Park Zoo', 'Statue of Liberty', 'Wall Street'],
      dtype='object')

In [25]:
df['room_type'].value_counts()

Entire home/apt    17829
Private room       15594
Shared room          803
Name: room_type, dtype: int64

In [17]:
df.groupby(['neighbourhood_group','room_type'])['price'].mean()

KeyError: 'Column not found: price'

In [ ]:
a = df['host_id'].unique()
len(a)

In [28]:
b = df['host_name'].unique()
len(b)

9291

In [32]:
df['reviews_per_month'].max() - df['reviews_per_month'].min()

IndexError: invalid index to scalar variable.